.product-form {
    width: 20rem;
    max-width: 90%;
    margin: auto;
}

.form-control {
    margin: 1rem 0;
}

.form-control label,
.form-control input,
.form-control textarea {
    display: block;
    width: 100%;
}

.form-control input,
.form-control textarea {
    border: 1px solid #dbc441;
    font: inherit;
    border-radius: 2px;
}

.card__image img{
    height: 100px;
}

.form-control input:focus,
.form-control textarea:focus {
    outline-color: #00695c;
}

button,
.btn {
    font: inherit;
    border: 1px solid black;
    color: #dbc441; 
    background: white;
    border-radius: 3px;
    cursor: pointer;
    text-decoration: none;
}

button:hover,
.btn:hover,
button:active,
.btn:active
 {
    background-color: #6200ff;
    color: white ;
}